OPENAI_API_KEY=""
MIDAS_PRO_TOKEN=""
JWT_SECRET="change-me"
POSTGRES_URI="postgresql://midas:midas@localhost:5432/midas?sslmode=disable"
WEAVIATE_URL="http://localhost:8080"
NEO4J_HTTP_URL="http://localhost:7474"
NEO4J_USERNAME="neo4j"
NEO4J_PASSWORD="midasdevpassword"
MIDAS_AUTO_PROJECT="1"
